@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    font-family: 'Lato', sans-serif;
}

button{
    height: 40px;
    width: 80px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: gray;
}

a{
    text-decoration: none;
    font-size: medium;
    color: white;
}